.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px;
  background-color: chocolate;
}
.list {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.content {
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
li {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
}
.edit1,
.edit {
  background-color: orange;
  color: white;
}
.edit1 {
  width: 100px;
}
.edit {
  min-width: 70px;
}
.delete {
  min-width: 70px;
  background-color: red;
  color: white;
}
.info {
  background-color: #3c88eb;
  color: white;
  min-width: 70px;
}
button {
  cursor: pointer;
  border: none;
}
.add {
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 10px;
  background-color: teal;
  color: white;
}
